
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Open+Sans&family=Poppins:wght@200;400&display=swap');
/* body {
  overflow: hidden;
} */
*{
 
font-family: 'Poppins', sans-serif;
}
#grid-1 {
  background-color: black;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 2fr 9fr;
  grid-template-areas:
    "h M"
    "h M"
    "h M";
  box-sizing: border-box !important;
}
header {
  grid-area: h;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
main {
  grid-area: M;
  background: linear-gradient(
    30deg,
    rgb(48, 47, 47),
    rgb(53, 51, 51),
    rgb(49, 46, 46),
    rgb(20, 14, 14)
  );
}
.subheader-1 ul,
.subheader-2 ul {
  list-style-type: none;
  padding-left: 0px !important;
}

.subheader-1 ul > li img,
.subheader-1 ul > li p {
  display: inline-block;
  padding-block: 5px;
  padding-inline: 5px;
}
.subheader-1 ul > li p,
.subheader-2 ul > li p {
  margin: 0px !important;
  color: white;
  font-size: 17px;
}
.subheader-1 ul :hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
}
.subheader-1 ul li > a {
  text-decoration: none;
}
footer {
  background-color: #181818;
  position: sticky;
  bottom: 0px;
  top: 0px;
  height: 13vh;
  width: 100vw;
  box-sizing: border-box;
}
.footer-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.song-name td {
  margin: 0;
  color: white !important;
} 
.upper-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;

}

.upper-nav #upper-nav1 > div > p {
  margin: 0 !important;
  color: white;
  border-radius: 50%;
  background-color: #000;
  font-size: 20px;
  padding-inline: 10px;
}
#upper-nav2{
  border-radius: 33px;
  background-color: #555151;
  box-sizing: border-box !important;
}
#upper-nav2 p  {
  margin: 0px !important;
  color: white;
}
.playlist-daily{
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  flex-wrap: wrap;
}
#playlist-daily-details{
  width: 230px;
height: 100px;
border-radius: 4px;
background: #1e1c1c;
}
/* home css */
 .playlist-dualipa{
  background: linear-gradient(180deg, #90AEA7 10%, #000);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.playlist-dualipa>.playlist-details>p,.playlist-details>ul{
  color:white;
  margin-bottom:0px !important;
}