@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Open+Sans&family=Poppins:wght@200;400&display=swap");
/*  */
* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

#grid-1 {
  background-color: black;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-areas:
    "h M"
    "h M"
    "h M";
  box-sizing: border-box !important;
}
header {
  grid-area: h;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Make the header scrollable */
  max-height: calc(100vh - 12vh); /* Add a maximum height to limit header height */
}

main {
  grid-area: M;
  background: linear-gradient(
    180deg,
    rgb(48, 47, 47),
    rgb(53, 51, 51),
    rgb(49, 46, 46),
    rgb(20, 14, 14)
  );
  overflow-y: auto; /* Make the main scrollable */
  max-height: calc(100vh - 12vh); /* Subtract footer height from max-height */
}


.subheader-1 ul,
.subheader-2 ul {
  list-style-type: none;
  padding-left: 10px !important;
}

.subheader-1 ul > li img,
.subheader-1 ul > li p {
  display: inline-block;
  padding-block: 7px;
  padding-inline: 5px;
}

.subheader-1 ul > li img {
  width: 40px;
}

.subheader-1 ul > li p,
.subheader-2 ul > li p {
  margin: 0px !important;
  color: white;
  font-size: 15px;
}

.subheader-2 ul > li p {
  padding-block: 6px;
}

.subheader-1 ul :hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
}

.subheader-1 ul li > a {
  text-decoration: none;
}

footer>div {
  background-color: #181818;
  position:sticky !important;
  z-index: 1;
  bottom: 0px;
  max-height: 12vh;
  width: 100vw;
  box-sizing: border-box;
}
.footer-playlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.song-name td {
  margin: 0;
  color: white !important;
}
.song-plays img{
  width:450px;
}
.song-devices img{
  width:200px; 
}
.upper-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
  margin:10px 10px 0px;
  box-sizing: border-box !important;
 
}

.upper-nav #upper-nav1 > div > p {
  margin: 0 !important;
  color: white;
  border-radius: 50%;
  background-color: #000;
  font-size: 17px;
  padding-inline: 10px;
}
#upper-nav2 {
  border-radius: 33px;
  background-color: #555151;
  box-sizing: border-box !important;
}
#upper-nav2 p {
  margin: 0px !important;
  color: white;
  padding-inline:1.5px;
}
.playlist-daily,
.Artist-list {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  flex-wrap: wrap;
}
.playlist-daily-details,
.Artist-list-details {
  display: flex;
  flex-direction: row;
}
.playlist-daily-details div {
  width: 290px;
  height: 90px;
  border-radius: 7px;
  background: #1e1c1c;
  margin-inline: 5px;
  overflow: hidden !important;
}
.playlist-daily-details img {
  width: 110px;
  height: 90px;
}
.playlist-daily-details img,
.playlist-daily-details p {
  display: inline-block;
}
.Artist-list-details > div {
  width: 170.29px;
  height: 200.9px;
  background: #181818;
  border-radius: 14px;
  margin-inline: 8.3px;
  box-shadow: 0px 0px 2px rgba(227, 228, 222, 0.922);
}
.Artist-list-details img {
  width: 170px;
  height: 150px;
  border-radius: 14px;
  margin-top: 3.5px;
}
.Artist-list-details > div > p{
  margin-bottom: 0px !important;
  font-size: 13px !important;
  color: white;
  padding-top:2.5px;
  padding-inline: 5px;
}
.Artist-list-details > div > span{
  font-size: 10px !important;
  color:#B3B3B3;
  padding-inline: 5px;
}
.playlist-daily-details > div p {
  color: white;
  margin-bottom: 0px !important;
  padding-inline: 3px;
}

/* home css */
.playlist-dualipa {
  background: linear-gradient(180deg, #90aea7 10%, #000);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.playlist-dualipa>.dualipa-img>img{
  width:230px;
  height:200px;
}
.playlist-dualipa > .playlist-details > p,
.playlist-details > ul {
  color: white;
  margin-bottom: 0px !important;
}

.playlist-details > ul{
  display: flex !important;
  list-style-position:inside;
  padding-left: 0px !important;

}
.playlist-details > ul>li{
  padding-inline: 2px;
  margin-left: 1px;
}
.playlist-section>div:first-child
{
  display:flex;
  align-items: center;
}
.playlist-section>div:last-child>table>tr{
margin-block: 10px;
}
.playlist-section > div:last-child > table tr:nth-child(2) {
  background-color: #252727;
  border-radius: 5px; 
}
.playlist-section > div:last-child > table tr:hover {
  background-color: #252727;
  border-radius: 5px; 
}
/* .playlist-section > div:last-child > table tr:first-child >td>s{
color: #070707;
} */
.playlist-section > div:last-child > table tr:first-child >td>s>p{
  letter-spacing: 4px !important;
  margin-bottom: 0px !important;
}